:root {
  --brand-primary: #0d6efd;
  --brand-orange: #fd7e14;
  --brand-light-gray: #f0f2f5;
  --brand-green: #008080;
}

/* This rule will now correctly apply to all buttons */
.btn, .btn-lg {
  border-radius: 50rem !important; 
  padding-top: 0.25rem !important;   
  padding-bottom: 0.25rem !important; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--brand-light-gray);
}